In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
df = pd.read_csv('/content/drive/My Drive/AI_Datasets/House_data.csv')
df.head(5)

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [0]:
def adjustedR2(r2,n,k):
    return r2-(k-1)/(n-k)*(1-r2)

In [12]:
train_data_model1,test_data_model1 = train_test_split(df,train_size = 0.8,random_state=3)
features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','zipcode','condition']
model1 = linear_model.LinearRegression()
model1.fit(train_data_model1[features],train_data_model1['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:

print("Intercept : ",model1.intercept_)
print("Coefficients : ",model1.coef_)

Intercept :  -57726728.3736026
Coefficients :  [-6.02067969e+04  1.43269624e+04  3.16981268e+02 -2.80418714e-01
  1.14797255e+04  5.87082132e+02  5.49133348e+04]

In [0]:
predict = model1.predict(test_data_model1[features])
RMSE_m1 = float(format(np.sqrt(metrics.mean_squared_error(test_data_model1['price'],predict)),'.3f'))
Rtr_m1 = float(format(model1.score(train_data_model1[features],train_data_model1['price']),'.3f'))
ARtr_m1 = float(format(adjustedR2(model1.score(train_data_model1[features],train_data_model1['price']),train_data_model1.shape[0],len(features)),'.3f'))

In [0]:
RTecm = float(format(model1.score(test_data_model1[features],test_data_model1['price']),'.3f'))
ARtecm = float(format(adjustedR2(model1.score(test_data_model1[features],test_data_model1['price']),test_data_model1.shape[0],len(features)),'.3f'))
cv = float(format(cross_val_score(model1,df[features],df['price'],cv=5).mean(),'.3f'))

In [0]:
evaluation = pd.DataFrame({'Model': [],
                           'Details':[],
                           'Root Mean Squared Error (RMSE)':[],
                           'R-squared (training)':[],
                           'Adjusted R-squared (training)':[],
                           'R-squared (test)':[],
                           'Adjusted R-squared (test)':[],
                           '5-Fold Cross Validation':[]})

In [25]:
r = evaluation.shape[0]
evaluation.loc[r] = ['Multiple Regression-1','selected features',RMSE_m1,Rtr_m1,ARtr_m1,RTecm,ARtecm,cv]
evaluation.sort_values(by = '5-Fold Cross Validation', ascending=False)

                   Model  ... 5-Fold Cross Validation
0  Multiple Regression-1  ...                   0.521

[1 rows x 8 columns]

In [28]:
features2 = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','zipcode','condition','grade','sqft_above','sqft_basement','yr_built','yr_renovated']
model2 = linear_model.LinearRegression()
model2.fit(train_data_model1[features],train_data_model1['price'])

print("Intercept : ",model2.intercept_)
print("Coefficients : ",model2.coef_)

Intercept :  1451380.9729368812
Coefficients :  [-4.74916724e+04  4.76572620e+04  1.29171999e+02 -2.14288486e-01
  2.61790058e+04  5.29904991e+01  2.03309533e+04  1.30901352e+05
  5.40114447e+01  7.51605539e+01 -3.82823606e+03  2.48388417e+01]

In [0]:
predict2 = model2.predict(test_data_model1[features2])
RMSE_m2 = float(format(np.sqrt(metrics.mean_squared_error(test_data_model1['price'],predict2)),'.3f'))
Rtr_m2 = float(format(model2.score(train_data_model1[features2],train_data_model1['price']),'.3f'))
ARtr_m2 = float(format(adjustedR2(model2.score(train_data_model1[features2],train_data_model1['price']),train_data_model1.shape[0],len(features2)),'.3f'))

RTecm2 = float(format(model2.score(test_data_model1[features2],test_data_model1['price']),'.3f'))
ARtecm2 = float(format(adjustedR2(model2.score(test_data_model1[features2],test_data_model1['price']),test_data_model1.shape[0],len(features2)),'.3f'))
cv2 = float(format(cross_val_score(model2,df[features2],df['price'],cv=5).mean(),'.3f'))

In [30]:
r = evaluation.shape[0]
evaluation.loc[r] = ['Multiple Regression-2','selected features',RMSE_m2,Rtr_m2,ARtr_m2,RTecm2,ARtecm2,cv2]
evaluation.sort_values(by = '5-Fold Cross Validation', ascending=False)

                   Model  ... 5-Fold Cross Validation
1  Multiple Regression-2  ...                   0.614
0  Multiple Regression-1  ...                   0.521

[2 rows x 8 columns]

In [34]:
features3 = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','zipcode','condition','grade','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15']
model3 = linear_model.LinearRegression()
model3.fit(train_data_model1[features3],train_data_model1['price'])

print("Intercept : ",model3.intercept_)
print("Coefficients : ",model3.coef_)

Intercept :  -5700633.082096208
Coefficients :  [-4.47576852e+04  4.37204200e+04  1.22278438e+02  1.46926926e-01
  1.04135001e+04 -2.34247199e+02  2.75310490e+04  1.01179908e+05
  6.43233518e+01  5.79550861e+01 -2.88444682e+03  3.73917378e+01
 -2.34247199e+02  5.55024211e+05 -2.46977694e+05  4.09589573e+01
 -3.04763027e-01]

In [0]:
predict3 = model3.predict(test_data_model1[features3])
RMSE_m3 = float(format(np.sqrt(metrics.mean_squared_error(test_data_model1['price'],predict3)),'.3f'))
Rtr_m3 = float(format(model3.score(train_data_model1[features3],train_data_model1['price']),'.3f'))
ARtr_m3 = float(format(adjustedR2(model3.score(train_data_model1[features3],train_data_model1['price']),train_data_model1.shape[0],len(features3)),'.3f'))

RTecm3 = float(format(model3.score(test_data_model1[features3],test_data_model1['price']),'.3f'))
ARtecm3 = float(format(adjustedR2(model3.score(test_data_model1[features3],test_data_model1['price']),test_data_model1.shape[0],len(features3)),'.3f'))
cv3 = float(format(cross_val_score(model3,df[features3],df['price'],cv=5).mean(),'.3f'))

In [37]:
r = evaluation.shape[0]
evaluation.loc[r] = ['Multiple Regression-3','selected features',RMSE_m3,Rtr_m3,ARtr_m3,RTecm3,ARtecm3,cv3]
evaluation.sort_values(by = '5-Fold Cross Validation', ascending=False)

                   Model  ... 5-Fold Cross Validation
2  Multiple Regression-3  ...                   0.658
1  Multiple Regression-2  ...                   0.614
0  Multiple Regression-1  ...                   0.521

[3 rows x 8 columns]